:root {
  --bg-color: #EEEFF1;
  --white-color:#fff;
  --blue-color: #34547A;
  --title-color: #000;
  --desc-color: #727272;
  --font-size-title: 2rem;
  --font-size: 16px;
  --width-desc: 540px;
  --transition: all .3s ease-in-out;
  --fw-normal: 400;
  --fw-medium: 500;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--font-size);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: var(--title-color);
  background-color: var(--bg-color);
  font-weight: var(--fw-normal);
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 70.625rem;
  padding: 0.625rem;
  margin: 0 auto;
}

.section-title {
  margin: 3.75rem 0 3.25rem;
  text-align: center;
  letter-spacing: 0.125rem;
  font-size: 2rem;
}

.section-desc {
  max-width: var(--width-desc);
  text-align: center;
  margin: 0 auto 6.25rem;
  color: var(--desc-color);
  line-height: 1.8;
}

.bgi {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* start HEADER */
.header {
  margin-top: 4.875rem;
}

.header__menu {
  display: flex;
  flex-wrap: wrap;
  gap: 2.8125rem;
}

.header__menu-link,
.burger-menu__link {
  padding: 1.25rem 0;
  cursor: pointer;
  text-shadow: 0 0.1875rem 0.1875rem rgba(0, 0, 0, 0.3);
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  transition: var(--transition);
}

.header__menu-link:hover {
  color: var(--blue-color);
}
/* end HEADER */

/* start FIRST SCREEN */
.first-screen {
  background-color: var(--bg-color);
  min-height: 43.75rem;
}

.first-screen__title {
  margin: 9.625rem 0 3.375rem;
  font-weight: var(--fw-medium);
  font-size: 3rem;
}

.first-screen__desc {
  max-width: var(--width-desc);
  line-height: 1.8;
  color: var(--desc-color);
  margin-bottom: 4.0625rem;
  text-align: justify;
}

.first-screen__btn {
  width: 14.0625rem;
  height: 4.0625rem;
  background-color: var(--blue-color);
  color: var(--white-color);
  text-align: center;
  vertical-align: center;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: var(--transition);
  border: 0.125rem solid var(--blue-color);
  padding: 0.625rem;
}

.first-screen__btn:hover {
  background-color: var(--white-color);
  color: var(--blue-color);
}
/* end FIRST SCREEN */

/* start ABOUT ME */
.about-me {
  background-color: var(--white-color);
}
/* end ABOUT ME */

/* start NUMBERS */
.numbers {
  background-color: var(--blue-color);
}

.numbers__title {
  display: none;
}

.numbers__items {
  display: flex;
  gap: 2.5rem;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 6.25rem 0;
}

.numbers__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  padding: 0 0.3125rem;
}

.numbers__item-image {
  width: 3.125rem;
  height: 3.125rem;
  background-image: url(../assets/img/number-img.svg);
}

.numbers__item-desc {
  font-weight: var(--fw-medium);
  font-size: 1.3rem;
  color: var(--white-color);
  margin-top: 0.625rem;
}

.numbers__item-desc span {
  display: block;
  margin-top: 0.625rem;
  font-weight: var(--fw-normal);
  font-size: 1rem;
}
/* end NUMBERS */

/* start VIDEO */
.video {
  background-color: var(--white-color);
}

.video__desc {
  margin-bottom: 3.75rem;
}

.video__video-block {
  min-width: 100%;
  min-height: 37.5rem;
  background-image: url(../assets/img/video-poster.jpg);
  margin: 0 auto 6.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video__btn {
  display: block;
  width: 3.125rem;
  height: 3.125rem;
  background-image: url(../assets/img/play-button.svg);
  cursor: pointer;
}
/* end VIDEO */

/* start FOOTER */
.footer {
  background-color: var(--blue-color);
  color: var(--white-color);
  padding: 3.25rem 0 3rem;
}

.footer__name {
  margin-bottom: 1.25rem;
  font-weight: var(--fw-medium);
  font-size: 1.3rem;
}

.footer__copyright {
  font-size: 0.8rem;
}
/* end FOOTER */

/* start MEDIA queries */
@media (max-width: 1180px) {
  .container {
    max-width: 75rem;
    padding: 0.625rem 2.5rem;
    margin: 0 auto;
  }

  .numbers__items {
    gap: 1.25rem;
    justify-content: center;
    flex-basis: 25%;
  }
}

@media (max-width: 740px) {
  .container {
    padding: 0.625rem 1.25rem;
  }

  .header__menu {
    max-width: 25rem;
  }

  .first-screen .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .first-screen__title {
    font-size: 2.1rem;
    text-align: center;
    margin-top: 5rem;
  }

  .first-screen__desc {
    text-align: center;
  }

  .video__video-block {
    min-height: 25rem;
  }
}

@media (max-width: 680px) {
  .container {
    max-width: 40.625rem;
  }

  .numbers__items {
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .video__video-block {
    min-height: 18.75rem;
  }
}

@media (max-width: 340px) {
  .first-screen__title {
    font-size: 1.7rem;
    text-align: center;
  }

  .first-screen__desc {
    text-align: center;
  }

  .video__video-block {
    min-height: 12.5rem;
  }
}
/* end MEDIA queries */