*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--font-size);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: var(--title-color);
  background-color: var(--bg-color);
  font-weight: var(--fw-normal);
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 70.625rem;
  padding: 0.625rem;
  margin: 0 auto;
}

.section-title {
  margin: 3.75rem 0 3.25rem;
  text-align: center;
  letter-spacing: 0.125rem;
  font-size: 2rem;
}

.section-desc {
  max-width: var(--width-desc);
  text-align: center;
  margin: 0 auto 6.25rem;
  color: var(--desc-color);
  line-height: 1.8;
}

.bgi {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}